
body{
  font-family: inter;
  font-size: 24px;
  font-weight: 300;
 
}

.topContainer{
  display: flex;
  flex-direction: column;
 

 
}

.nav-container{
 background: #D9D9D9;
 max-height: 150px; 
 max-width: 1440px;
}

header{
    background-image:url(image/BackgroundSalsa.jpg); 
    background-size: 1440px 840px;
    background-position: center;
    background-repeat: no-repeat;
    height: 840px; 
    max-width: 1440px;
   
}
.headWrapper{
 
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding-left: 464px; */
    /* padding-top: 76px; */ 
   
  
 
  
} 

/* Styling for the header container */
.header-container {
    background-color: rgba(89, 158, 197, 0.92); /* Blue background */
    border-radius: 64px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Adds some depth*/
    width: 100%; /*Adjust based on your preference */ 
    max-width: 1000px;/* Adjust based on your preference */
    height: 806px;
    margin: 0 auto;  /*center the container*/
    display: flex; 
    flex-direction: column;

  }

  .bigGrayContainer{
    margin-top: 76px;
    margin-bottom: 30px;
  
  }
  #bigGray {
    width: 30px; /* Or any other value */
    height: 30px; /* Or any other value */
    /* font-size: 20px; Or any other value */
    margin-left: 20px;
    
  }
  #bigGrayQuantity {
    width: 80px; /* Or any other value */
    height: 30px; /* Or any other value */
    /* font-size: 20px; Or any other value */
    margin-left: 270px;
  }
  .tastersContainer{
    margin-bottom: 30px;
  }
  #taster {
    width: 30px; /* Or any other value */
    height: 30px; /* Or any other value */
    /* font-size: 20px; Or any other value */
    margin-left: 20px;
    
  }
  #tasterQuantity {
    width: 80px; /* Or any other value */
    height: 30px; /* Or any other value */
    /* font-size: 20px; Or any other value */
    margin-left: 295px;
  }
  .soupContainer{
    margin-bottom: 30px;
  }
  #soup {
    width: 30px; /* Or any other value */
    height: 30px; /* Or any other value */
    /* font-size: 20px; Or any other value */
    margin-left: 20px;
    
  }
  #soupQuantity {
    width: 80px; /* Or any other value */
    height: 30px; /* Or any other value */
    /* font-size: 20px; Or any other value */
    margin-left: 300px;
  }
  .poutineContainer{
    margin-bottom: 30px;
  }
  #poutine {
    width: 30px; /* Or any other value */
    height: 30px; /* Or any other value */
    /* font-size: 20px; Or any other value */
    margin-left: 20px;
    
  }
  #poutineQuantity {
    width: 80px; /* Or any other value */
    height: 30px; /* Or any other value */
    /* font-size: 20px; Or any other value */
    margin-left: 275px;
  }

  .bucketContainer{
    margin-bottom: 30px;
  }
  #bucket {
    width: 30px; /* Or any other value */
    height: 30px; /* Or any other value */
    /* font-size: 20px; Or any other value */
    margin-left: 20px;
    
  }
  #bucketQuantity {
    width: 80px; /* Or any other value */
    height: 30px; /* Or any other value */
    /* font-size: 20px; Or any other value */
    margin-left: 160px;
  }

  .saladContainer{
    margin-bottom: 30px;
  }
  #salad {
    width: 30px; /* Or any other value */
    height: 30px; /* Or any other value */
    /* font-size: 20px; Or any other value */
    margin-left: 20px;
    
  }
  #saladQuantity {
    width: 80px; /* Or any other value */
    height: 30px; /* Or any other value */
    /* font-size: 20px; Or any other value */
    margin-left: 300px;
  }


  

